<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="icon" href="img/标志.png">
		<link rel="stylesheet" href="css/index.css">
		<script src="JS/vue.js"></script>
	</head>
	<body>
		<div>
			<header class="header">
				<img src="img/标题.png">
			</header>
			<nav class="nav">
				<ul class="left_nav">
					<li v-for="(l_nav,index) in l_listnav" :key="index">
						<a :href="l_nav.href">{{l_nav.name}}</a>
					</li>
				</ul>
				<ul class="right_nav">
					<li v-for="(r_nav,index) in r_listnav" :key="index" @mouseover="showup" @mouseout="nodisplay">
						<a href="">{{r_nav.name}}</a>
						<img :src="r_nav.src">
						<ul class="DDW" :style="shows">
							<li v-for="(r,index) in r_nav.D_name">
								<a href="">{{r}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="input">
				<img class="gg" src="./img/gg.png">
				<input type="text" name="" id="" value="" placeholder="请输入查询的信息" />
				<button type="button">搜索</button>
				<ul class="Date" v-for="(day,index) in days" :key="index">
					<li>{{day.date}}</li>
					<li>{{day.time}}</li>
					<li>{{day.weeks}}</li>	
				</ul>
			</div>
			<hr>
			<nav class="nav1">
				<ul>
					<li v-for="(nav1,index) in listnav1" :key="index">
						<img class="nva1-icon" :src="nav1.icons" alt="">
						<a href="">{{nav1.name}}</a>
						<img class="nva1-icon" :src="nav1.src">
					</li>
				</ul>
				<div class="lbt">
					  <img v-for="(lbt,index) in listlbt" :src="lbt" alt="">
				</div>
			</nav>
		</div>
	</body>
	<script type="text/javascript">
		let leftnav = new Vue({
			el: '.nav',
			data: {
				shows: '',
				l_listnav: [{
					'name':'欢迎您的到来!',
					'href':'index1.html'
				},
				{
					'name':'请登录',	
					'href':'Logln.html'
				},
				{
					'name':'免费注册',
					'href':''
				},
				],
				r_listnav: [{
						'name': '我的淘宝',
						'src': 'img/下箭头.png',
						 D_name: []
					},
					{
						'name': '购物车',
						'src': 'img/下箭头.png',
						 D_name: []
					},
					{
						'name': '收藏夹',
					}
				],
			},
			methods: {
				showup: function() {
					this.shows = 'display:block';
				},
				nodisplay: function() {
					this.shows = 'display:none';
				}

			},

		});
		let nav1 = new Vue({
			el: '.nav1',
			data: {
				listnav1: [
					{
						'icons':'img/三横线.png',
						'name': '学习科目',
						'src': 'img/学习.png',
					},
					{
						'icons':'img/html.png',
						'name': 'Html',
						'src': 'img/下箭头.png',
					},
					{
						'icons':'img/css.png',
						'name': 'Css',
						'src': 'img/下箭头.png',
					},
					{
						'icons':'img/js.png',
						'name': 'Javascript',
						'src': 'img/下箭头.png',
					},
					{
						'icons':'img/mysql.png',
						'name': 'MySql',
						'src': 'img/下箭头.png',
					},
					{
						'icons':'img/echarts-pie.png',
						'name': 'Echarts',
						'src': 'img/下箭头.png',
					},
					{
						'icons':'img/Vue.png',
						'name': 'Vue',
						'src': 'img/下箭头.png',
					},
				],
				listlbt:[
					'img/7.png'
				]
			},
		});
		let day = new Vue({
			el:'.input',
			data:{
				days: [{
						date: '2021年5月20日',
						time: '23:00:00',
						weeks: '星期四',
						},		
					],
				},
		});
		
		
	</script>

</html>
